:root {
  --primary: #282828;
  --secondary: rgba(209, 209, 209, 0.4);
  --tertiary: rgba(228, 228, 228, 0.6);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}



body {
  margin: 0px;
  background-color: rgb(4, 4, 4);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Boston;


}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}


canvas {
  background-color: transparent !important; /* Ensure this is not being overridden */
}


  
@font-face { 
  font-family: Toroka; 
  src: url('/fonts/toroka-wm.otf') format('opentype'); 
  font-weight: medium; 
  font-style: normal; 
  font-display: swap;
} 

@font-face {
  font-family: Boston;
  src:
       url('/fonts/boston-l.otf') format('opentype');    
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

