body {
  margin: 0px;
  background-color: rgb(4, 4, 4);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Boston;


}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}


canvas {
  background-color: transparent !important; /* Ensure this is not being overridden */
}


  
@font-face { 
  font-family: Toroka; 
  src: url('/fonts/toroka-wm.otf') format('opentype'); 
  font-weight: medium; 
  font-style: normal; 
  font-display: swap;
} 

@font-face {
  font-family: Boston;
  src:
       url('/fonts/boston-l.otf') format('opentype');    
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

 