body{
  margin: 0px;
  background-color: rgb(4, 4, 4);
  margin-top: 0;
  margin-bottom: 0;
}

.herofont {
  font-family: 'Toroka';
  src: url('../../public/fonts/toroka-wb.otf') format('otf'); 
}

@font-face { 
  font-family: "Toroka"; 
  src: url('../../public/fonts/toroka-wb.otf'); 
  font-weight: bold; 
  font-style: normal; 
} 
  
 