.main {
  margin-top: 0;
  margin-bottom: 100vh;
   
}

.heroimage {
  width: 100%;
  height: 1000px;
  background-color: rgb(4, 4, 4);
}

.gallerycontinue {
  height: 200vh;
  background-color: rgb(3, 3, 3);
}

.heroheader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.heroimage {
  z-index: -100;
}

.imageOverlayContainer {
  position: relative;
  width: 100%;
  height: 1080px;
}

.wrapper {
  height: 1000px;
}

.spacer {
  height: 200px;
  position: relative;
  top: 0px;
}

.spacertext {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageOverlayContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroTitle {
  line-height: 80%;
  color: white; /* Or any color that stands out over your image */
  text-align: center; /* Center the text */
  text-align: left;
  top: 0;
  left: 9vw;
  position: absolute;
  z-index: 100;
  mix-blend-mode: overlay;
  font-family: 'Toroka', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 12rem;
}

.heroLead {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  color: rgba(23, 23, 23, 50); 
  text-align: left;
  top: 30vh;
  left: 10vw;
  position: absolute;
  z-index: 100;
  font-weight: thin;
  color: rgb(255, 255, 255);
 
}



.paragraphIntro {
  width: 40vw;
  position: absolute;
  top: -40vh;
  color: rgba(255, 255, 255, 0.578);
 }





.paragraphLead {
 width: 40vw;
 position: absolute;
 top: 15vh;
}


.textAnimateIn {

  width: 40vw;
  position: absolute;
  top: -40vh;
  color: rgba(255, 255, 255, 0.578);

}